<footer class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="/static/logo.svg" class="img-fluid my-3 mx-3">
            </div>
            <div class="col-6 my-3">
                <h3 class="text-center text-light">Elite Motors</h3>
                <p class="text-light">DISCLAIMER: nume fictiv, doar pentru scopul acestui proiect.</p>
                <p class="text-light">Toate imaginile &copy;2021-2023 Alexandru Mihai</p>
            </div>
            <div class="col-3 my-3">
                <h4 class="text-light">Development: &copy;2023 Alexandru Mihai</h4>
                <h6 class="text-light">Acesta este un proiect universitar, nu se pot achizitiona masini.</h6>
            </div>
        </div>
    </div>
    
</footer>